#content{
    border: 1px solid black;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 10px;
}

#display{
    text-align: center;
    border: 1px solid black;
    width: 30%;
}

img{
    width: 80%;
    height: 100%;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
}

table th, td{
    border: 1px solid black;
    padding: 5px 10px;
}